body {
    font-family: sans-serif;
    text-align: center;
    background: #fef;
}

#user {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    font-size: x-large;
    text-align: center;
}

input[type="submit"] {
    height: 40px;
    vertical-align: top;
    border-radius: 10px;
}

.output {
    background: lightblue;
    padding: 15px;
    border-radius: 25px;
    width: 650px;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 3px 3px gray;
}

#sister {
     font-size: 16pt;
    font-style: italic;
}

.hidden {
   display: none;
}
