body {
    font-family: sans-serif;
    text-align: center;
    background: #FFE1E1;
}

h1{
    text-decoration:none;
}

#user {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    font-size: x-large;
    text-align: center;
    outline:none;
}

input[type="submit"] {
    height: 40px;
    vertical-align: top;
    border-radius: 10px;
    outline: none;
}

.output {
    background: #FDEEC7;
    color: #1C8DB9;
    padding: 15px;
    border-radius: 25px;
    width: 650px;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    margin: auto;
    margin-top: 20px;
    box-shadow: none;
}
